body,
html {
    overflow-x: hidden !important;
}

.bannerHeading {
    font-size: 58px;
    line-height: 82px;
    color: #2F4858;
}

.darkColor {
    color: #696868 !important;
}

.colorBannerText {
    line-height: 29px !important;
    color: #2F4858 !important;
}

.bannerBack {
    background: #FFF8EE;
    clip-path: ellipse(100% 100% at 50% 100%) !important;
}

.imgBack {
    background: #FFF8EE;
}

.featureHeading {
    font-weight: 700;
    font-size: 48px;
    line-height: 62px;
    color: #2F4858;
}

.featureDesc {
    font-size: 16px;
    line-height: 24px;
    color: #8E8E8E;
}

.features {
    position: relative !important;
    height: 18rem !important;
    padding: 0 0.5rem;
    text-align: center;
    background: #FFFFFF !important;
    box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.02), 0px 64.8148px 46.8519px rgba(0, 0, 0, 0.0151852), 0px 38.5185px 25.4815px rgba(0, 0, 0, 0.0121481), 0px 20px 13px rgba(0, 0, 0, 0.01), 0px 8.14815px 6.51852px rgba(0, 0, 0, 0.00785185), 0px 1.85185px 3.14815px rgba(0, 0, 0, 0.00481481);
    border-radius: 36px !important;
}

.features:hover::before {
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1;
    background: #ffa300;
    border-radius: 36px;
    transform: matrix(1, .04, -.06, 1, 0, 0);
    content: "";
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}

.featuresHeading {
    color: #2F4858;
    font-weight: bold;
}

.featuresDescription {
    font-size: 18px;
    color: #8E8E8E;
    line-height: 26px;
}

@media (max-width: 768px) {
    .articleImg {
        max-height: 100%;
        max-width: 100%;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
    }
}

.industryBack {
    background: #2F4858;
    clip-path: polygon(0 12%, 100% 0%, 100% 80%, 0 94%);
}

.industryHeading {
    font-size: 48px;
    line-height: 42px;
    color: #FFFFFF;
    font-weight: bold;
}

.industryList {
    border-left: 3px solid rgba(255, 255, 255, 0.1);
}

.industryListItem {
    position: relative !important;
    background: none !important;
    font-size: 1.25rem;
    font-weight: 500;
    line-height: 42px !important;
    color: #6F8796 !important;
}

.industryListItem.nav-link.active {
    left: -5px;
    position: absolute;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-left: 9px solid #FFA300 !important;
}

.benefitsHeading {
    font-weight: bold;
    font-size: 3rem;
    color: #2F4858;
}

.benefits {
    background: #FFFFFF;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 6px;
    margin: 0.5rem !important;
    padding: 1.5rem;
    height: 21rem;
}

.benefitName {
    color: #FFA300;
    font-size: 20px;
    font-weight: bold;
}

.benefitDesc {
    color: #696868;
}

.benefitImgBack {
    background: linear-gradient(rgba(255, 255, 255, .5), rgba(255, 255, 255, .5)), rgba(47, 72, 88, 0.1) !important;
    padding: 1rem;
    border-radius: 50%;
}

.psBack {
    background: #FAFAFA;
}

.psHeading {
    font-weight: bold;
    font-size: 3rem;
    color: #2F4858;
}

.psHead {
    font-weight: bold;
    font-size: 36px;
    color: #FFA300;
}

@media (max-width: 992px) {
    .psHead {
        text-align: center;
    }
}

.psDesc {
    text-align: justify;
    font-weight: 500;
    font-size: 20px;
    line-height: 32px;
    color: #2F4858;
    opacity: 0.6;
}

.psLink {
    font-weight: bold;
    font-size: 18px;
    color: #2F4858;
}

.platformHeading {
    font-weight: bold;
    font-size: 40px;
    line-height: 24px;
    color: #2F4858;
}

.platformsTable {
    border-style: hidden;
}

.testiomonials {
    padding: 1.5rem;
    background: #FFFFFF;
    border: 1px solid #C4C4C4;
    box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.02), 0px 64.8148px 46.8519px rgba(0, 0, 0, 0.0151852), 0px 38.5185px 25.4815px rgba(0, 0, 0, 0.0121481), 0px 20px 13px rgba(0, 0, 0, 0.01), 0px 8.14815px 6.51852px rgba(0, 0, 0, 0.00785185), 0px 1.85185px 3.14815px rgba(0, 0, 0, 0.00481481);
    border-radius: 10px;
    margin: 0.5rem !important;
}

.testiomonial {
    font-style: italic;
    font-weight: 500;
    font-size: 18px;
    color: #696868;
}

.testiomonialName {
    font-weight: 600;
    font-size: 19px;
    line-height: 23px;
    color: #2F4858;
    margin-bottom: 1px;
}

.testiomonialPosition {
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #FFA300;
}

.contactUsBack {
    background: rgba(255, 191, 0, 0.1);
}

.blocks {
    background: #FFFFFF;
    box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    margin-bottom: 1.5rem;
}

.contactHeading {
    font-weight: bold;
    font-size: 20px;
    color: #2F4858;
}

.contactSubHeading {
    font-weight: bold;
    font-size: 14px;
    text-transform: uppercase;
    color: #FFA300;
    opacity: 0.6;
}

.address {
    color: #909090;
    font-size: 14px;
}

.line {
    background: #464646;
    opacity: 0.1;
    height: 2px;
}

.email {
    font-weight: 500;
    font-size: 1rem;
    color: #464646;
    opacity: 0.6;
    text-decoration: none;
}

.inputFields {
    background: #FFFFFF !important;
    border: 1px solid #C4C4C4 !important;
    border-radius: 1rem !important;
    padding: 0.8rem !important;
}

.inputFields::placeholder {
    color: #000000 !important;
    opacity: 0.4 !important;
}

.contactFormBtn {
    background: #FFA300 !important;
    border-radius: 74px !important;
    font-weight: 600 !important;
    font-size: 18px !important;
}

.footerBack {
    background: #2F4858 !important;
}